@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
* {padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}

.playerStats{
	position: absolute;
	left: 350%; /* Default: 350px */
	bottom: 20%; /* Default: 20px */

	left: 18.2%; /* (18.2% Right Side of Map) | (82.0% Right Side of Screen) | (2.7% Above Map)  */
	bottom: 1.85%; /* (1.85% Default-Fix for all 16:9 resolutions) | (21.0% Above Map) */
}

.stat{
	color: #000;
	background: linear-gradient(to left, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%);
	width: 180px;
	height: 30px;
	position: relative;
	margin-bottom: 7px;
	//box-shadow: 0 10px 15px rgba(0,0,0,0.9);
	left: 2px;
    font-weight: 400;
	font-size: 14px;
	border-radius: 4px;
	border: 2px solid grey;
}

.stat .icon{
	height: 35px;
	width: 35px;
	background: linear-gradient(to left, rgba(0,0,0,0.9) 50%,rgba(0,0,0,0.) 50%);
	border-radius: 50%;
	position: relative;
	display: inline-block;
	right: 5px;
}

.stat .icon i, .stat .icon img{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.stat .icon img{
	height: 16px;
	width: 16px;
}


.stat span{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: -10px;

}



.carStats .stat{
	background: linear-gradient(to right, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%);
	text-align: right;
}

.carStats .stat .icon{
	float: right;
	right: 0px;
	left: 15px;
}

.carStats .stat span{
	white-space: nowrap;
	right: 20px;
}

.status{
	display: flex;
	position: relative;
	justify-content: space-between;
}

.veh-gas{
	display: flex;
	width: 235px;
	position: relative;
	right: -15px;
	justify-content: space-between;
}

.vert-stat1{
	border-radius: 5%;
	width: 130px;
	height: 8px;
	position: relative;
	overflow: hidden;
	background-color: rgba(255,255,255,0.0);
	top: -137px;
	left: 30px;
}

.bg{
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.vert-stat2{
	border-radius: 5%;
	width: 130px;
	height: 8px;
	position: relative;
	overflow: hidden;
	background-color: rgba(255,255,255,0.0);
	top: -101px;
	left: -100px;
}

.vert-stat{
	border-radius: 5%;
	width: 130px;
	height: 8px;
	position: relative;
	overflow: hidden;
	background-color: rgba(0,0,0,0);
	top: -64px;
	left: -230px;
}

#gas{
	position: absolute;
	right: 100px;
	bottom: 50px;
}